html {
	padding:0;
}

head {
	width:100%;
}

.wrapper {
	margin-top:0;
	margin-bottom: 5%;
	font-family: 'Raleway', sans-serif;
	
}

body {
	margin:0;
	background-color: white;
}

footer { 
	width:100%;
	left:0px;
	bottom:0px;
	background-color: black;
	color:white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	height:70px;
}

.nav {
	position:fixed;
    left: 0px;
    height: 70px;
    background-color: black;
    width: 100%;
    text-align: right;
    margin: 0px;
    padding: 0px;
	font-family: 'Montserrat', sans-serif;
	list-style-type: none;
	z-index: 500;
}


.nav ul {
	margin:0;
	padding-right:30px;
	box-shadow: 0 0 10px 2px black
}

li {
	color:black;
	display:inline-flex;
	text-align:center;
}

li a {
	color:white;
	text-decoration: none;
	padding-top:25px;
	padding-bottom:25px;
	padding-right:18px;
	padding-left:18px;
	float:right;
}

li a:hover {
	text-decoration: underline;
}

#home {
	
}

#about {
	
}

#questions {
	
}

#sponsors {
	
}

#contact {
	
}
.button {
	background-color: white;
    border-left: 3px solid red;
	border-bottom: none;
	border-top:none;
	border-right:none;
    color: red;
    padding: 10px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1 {
	
}
.button1:hover {
	background-color: red;
    color: white;
	border:0px;
    border-left: 3px solid white;
}

.active {
	color:white;
	text-decoration: underline;
}


.home {
	padding-top:50px;
	text-align: center;
	width:100%;
	background: url(../img/background1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
    height: 100%;
	overflow:hidden;
}

.about {
	color:white;
}

.sponsors {
	margin-left: 2%;
	margin-right:2%;
}

.contacts {
	margin-left: 2%;
	margin-right:2%;
}

.questions {
	margin-left: 2%;
	margin-right:2%;
}

.gallery {

}

.content {
	padding-top:10px;
	padding-bottom:85px;
	padding-left:2%;
	padding-right:2%;
	background-color: white;
	width:100%;
}

.content1 {
	padding-top:10px;
	padding-bottom:85px;
	padding-left:2%;
	padding-right:2%;
	background-color: black;
	width:100%;
}


.photo {
	border-radius: 10px 0px 0px 10px;
}

.photo1 {
	border-radius: 0px 10px 10px 0px;
}

h3 {
	font-weight: normal;
}

.button-position {
	height:100%;
	position:relative;
	top:87%;
	margin-top:-18px;
}
