html {
	padding:0;
}

head {
	width:100%;
}

.wrapper {
	margin-top:0;
	margin-bottom: 5%;
	font-family: 'Raleway', sans-serif;
	
}

body {
	margin:0;
	background-color: white;
}

footer { 
	position: sticky;
	width:100%;
	left:0px;
	bottom:0px;
	background-color: black;
	color:white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	height:70px;
}

.nav {
	position:fixed;
    left: 0px;
    height: 70px;
    background-color: black;
    width: 100%;
    text-align: right;
    margin: 0px;
    padding: 0px;
	font-family: 'Montserrat', sans-serif;
	list-style-type: none;
}


.nav ul {
	margin:0;
	padding-right:30px;
	box-shadow: 0 0 10px 2px black
}

li {
	color:black;
	display:inline-flex;
	text-align:center;
}

li a {
	color:white;
	text-decoration: none;
	padding-top:25px;
	padding-bottom:25px;
	padding-right:18px;
	padding-left:18px;
	float:right;
}

li a:hover {
	text-decoration: underline;
}

#registration {
	
}

#about {
	
}

#questions {
	
}

#sponsors {
	
}

#contact {
	
}
.button {
	background-color: white;
    border: none;
    color: white;
    padding: 10px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1:hover {
	background-color: black;
    color: white;
    border: 2px solid white;
}

.button1 {
	background-color: white;
    color: black;
    border: 2px solid black;
}

.active {
	color:white;
	text-decoration: underline;
}


.registration {
	padding-top:50px;
	text-align: center;
	height:100%;
	background-image: url(../img/background.jpg);
	background-size:cover;
}

.about {
	color:white;
}

.sponsors {
	padding-top:90px;
	margin-left: 2%;
	margin-right:2%;
}

.contacts {
	padding-top:90px;
	margin-left: 2%;
	margin-right:2%;
}

.questions {
	padding-top:90px;
}

.gallery {

}

.content {
	padding-top:10px;
	padding-bottom:85px;
	padding-left:2%;
	padding-right:2%;
	background-color: black;
	width:100%;
}

.photo {
	border-radius: 10px 0px 0px 10px;
}

.photo1 {
	border-radius: 0px 10px 10px 0px;
}
